.modal-content {
    text-align: center;
    border-radius: 20px;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px 0;
    clear: both;
}

.container {
    margin-top: 0;
}
.center-buttons {
    text-align: center;
}

input[type="email"],
input[type="password"] {
    text-align: center;
}

.center-input {
    margin: 0 auto;
}
.card {
    width: 70%; 
    max-width: 400px; 
    margin: 0 auto; 
    background-color: #000000; 
    color: #ffffff; 
    border: 1px solid #ffffff; 
}


.card-body {
    text-align: center;
}

.container {
    margin-top: 50px;
    margin-bottom: 60px;
}

.row {
    width: 60%;
    font-family: American Typewriter;
    margin-left: 5%;
    border: #424949 2px solid;
    border-radius: 5px;
}

.col-md-2 {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;

}

.card {
    border-radius: 5px;
    border: 2px solid #000000;
}

.boton-compra {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}